.cart {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  overflow-y: hidden;
  box-sizing: border-box;
  background: white;

  .header {
    text-align: center;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr); /* see notes below */
    gap: 20px;
    max-height: 100%;
    overflow-y: auto;
    flex:1;
    align-content: flex-start;
  }
  
  .total {
    height: 80px;
    text-align: right;
  }
  
  h2.empty {
    margin: auto;
  }
}



